@import 'breakpoints';

#features {
  min-height: 728px;
  width: 100%;
  padding-top: 100px;

  #featuresContentWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 15px;
    .featureContainer{
      width: calc(100%/3);
      @media screen and (max-width: $lg) {
        width: 50%;
      }
      @media screen and (max-width: $md) {
        width: 100%;
      }

    }
      .feature-content {
        padding: 0 30px;
        margin-bottom: 50px;
        text-align: center;

        .icon{
          font-family: 'elegant-theme-line';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          line-height: 1;
          width: 60px;
          margin: 0 auto 15px;
        }

        h5 {
          line-height: 34px;
          font-size: 14px;
          color: #2d3033;
          text-transform: uppercase;
          font-weight: 700;
        }

        p {
          font-size: 14px;
          line-height: 22.4px;
          color: #6c7279;
          margin: 0 0 10px;
        }
      }
    }

  }

