$accent-color: #e84545;
$icons-sizes: 40px;
$common-font-weight: 600;
$very-common-font-weight: 700;
$wh-color: #fff;
$common-value-pd-mg-wd-hg: 15px;
$full-size-of-parent: 100%;
$common-font-size: 14px;

