@import '../css/reset.css';
@import 'header';
@import 'toggleMenu';
@import 'footer';
@import 'features';
@import 'projects';
@import 'teamEmployees';
@import 'download';
@import 'testimonials';


*{
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
}

.socialIcons, .footerItem a {
  border: 1px solid rgb(232, 236, 238);
  border-radius: 2px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover, a:active{

  transition: background-color, color, 0.3s;
}




