@import 'breakpoints';
  .sliderContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #523649;
    @media screen and (max-width: $md) {
      flex-direction: column;
      align-items: center;
    }

    #sliderBlockquote{
      padding-left: 10px;
      width: 50%;
      display: block;
      margin-top: 50px;
      @media screen and (max-width: $md) {
        width: 90%;
      }
      p{
        display: block;
        color: #fff;
        font: italic 36px "Cardo", Georgia, "Times New Roman", serif;
      }
      cite{
        color: #fff;
        display: block;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        margin-top: 30px;
        text-transform: uppercase;
      }

      .circleBtnContainer{
        margin: 30px auto;
        display: flex;
        width: 80px;
        justify-content: space-between;
        align-items: center;
        .circleBtn {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          opacity: 0.3;
          background: white;
          cursor: pointer;
        }
        .circleBtn:hover{
          opacity: 1;
        }

        .activeCircleBtn{
          cursor: default !important;
          opacity: 1;
        }
      }

    }

    .testimonialImageContainer {
      max-width: 50%;
      height: auto;
      overflow: hidden;
      @media screen and (max-width: $md) {
       max-width: 100%;
      }
      .testimonialImage {
        opacity: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 0.5s opacity;
      }
    }
  }




